build/
!/sphinx/build/
.idea/
.vscode/
cmake-build-debug/
__pycache__
*.pyc
.DS_Store
*.egg-info/

*.so
*.o
tests/cpp/bin/
scratch/

/data/*
workflows/data/*
workflows/workflow_sanjay.ipynb
!/data/download-demo*
*.ipynb